.navbar {
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 100%;
    gap: 10px;
}

.navbar-content-custom {
    flex-grow: 4;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}
