:root {
    --backgroundColor: #F2F2F2
}
.layout{
    background-color: var(--backgroundColor);
}
.layout-content-header {
    background-color: var(--backgroundColor);
    height: 70px;
    width: 100vw;
}

.layout-content {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.layout-content-sidebar {
    background-color: var(--backgroundColor);
    min-width: 255px;
    max-width: 260px;
    height: 100vh;
}

.layout-content-sidebar__close {
    background-color: var(--backgroundColor);
    width: 20px;
    min-width: 15px;
    height: 100vh;
}

.layout-content-body {
    flex: 1;
    padding: 15px;
    background-color: white;
}
