.close-button {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.open-button {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 93%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    z-index: 1;
}
