.container-menu {
    display: flex;
    height: 100vh;
    position: relative;
    top: -15px;
    flex-direction: column;
    padding: 10px 10px;
    font-style: normal;
    font-weight: 500;
    gap: 20px;
    color: #6c6c6c;
}

.container-menu a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 15px

}

.container-menu-a__active_child {
    border-radius: 4px;
    padding: 5px 20px;
}

.container-menu-parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-menu-parent__child {
    background-color: #dadfeb;
}

.container-menu-parent__child__active {
    background-color: #6c82ab;
    color: white !important;
}

.container-menu-children {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-menu-children__ischild {
    margin-left: 15px
}

.container-menu-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.container-menu-item__active {
    color: #0F4C81 !important;
}
.container-menu-item-row {
 margin-left: -5px;
}
